Repository zakisanbaiman/financial-planning-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, go vet, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.go": ["gofmt -w", "go vet"],
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "e2e/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(git-hooks): Improve pre-commit hook configuration and documentation
  .husky/pre-commit
  .lintstagedrc.json
  GIT_HOOKS_FIX.md
  GIT_HOOKS_SETUP.md
  SETUP.md
Due: prettier --write

chore: lintエラー修正
  .github/workflows/lint.yml
  backend/.golangci.yml
Due: prettier --write

ci(e2e): Enhance dependency installation in E2E test workflows
  .github/workflows/e2e-tests.yml
Due: prettier --write

docs: Add local CI execution guide and enhance Makefile commands
  LOCAL_CI.md
  Makefile
  backend/infrastructure/web/integration_helpers.go
  backend/infrastructure/web/performance.go
  backend/infrastructure/web/routes.go
  scripts/run-ci-local.sh
Due: gofmt -w, go vet, prettier --write

ci: Upgrade actions/cache from v3 to v4 in CI workflows and remove pre-commit hook
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
  .husky/pre-commit
Due: prettier --write

ci: Update E2E test workflow permissions and enhance test server setup
  .github/workflows/e2e-tests.yml
  backend/infrastructure/web/api_integration_test.go
Due: gofmt -w, go vet, prettier --write

test: Improve API integration tests
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/routes_test.go
Due: gofmt -w, go vet

fix: Update Button import to default import syntax
  frontend/src/components/ErrorBoundary.tsx
Due: prettier --write

fix: Ensure go.mod and go.sum are tidy during CI workflow
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix: Add critters dependency to package.json
  frontend/package.json
Due: prettier --write

fix: Downgrade critters dependency to version 0.0.25
  frontend/package.json
Due: prettier --write

chore: update dependencies
  frontend/package-lock.json
Due: prettier --write

chore: Disable Playwright HTML report
  .github/workflows/e2e-tests.yml
  .gitignore
  e2e/playwright.config.ts
Due: prettier --write

chore: Disable Playwright HTML report generation and update related configurations
  .gitignore
  e2e/test-results/.last-run.json
  e2e/test-results/html/index.html
  e2e/test-results/results.json
  e2e/tests/api-integration.spec.ts
  e2e/tests/goals-management.spec.ts
Due: prettier --write

refactor: e2eテストを整理
  backend/main.go
  e2e/tests/api-integration.spec.ts
  e2e/tests/financial-data-flow.spec.ts
  e2e/tests/goals-management.spec.ts
  e2e/tests/health-check.spec.ts
Due: gofmt -w, go vet, prettier --write

chore: Update Node.js version to 20 across workflows and `.tool-versions`
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .tool-versions
Due: prettier --write

feat: delete coverage.html and rename task summary
  GEMINI.md
  TASK_12_SUMMARY.md
  backend/coverage.html
Due: prettier --write

ci: Add script and workflow to post detailed summaries of failed CI runs to pull requests
  .github/workflows/failure-summary.yml
  scripts/requirements.txt
  scripts/summarize_failure.py
Due: prettier --write

test: Add step to force CI failure for bot testing
  .github/workflows/lint.yml
Due: prettier --write

feat: Add fallback to find PR by head SHA in failure summary script
  .github/workflows/failure-summary.yml
  scripts/summarize_failure.py
Due: prettier --write

feat: improve GitHub Actions failure summary
  .github/workflows/lint.yml
  scripts/summarize_failure.py
Due: prettier --write

refactor: CI/CIの重複部分を共通化
  .github/workflows/common-setup-go.yml
  .github/workflows/common-setup-node.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
Due: prettier --write

feat: 新しいセットアップアクションを追加し、ワークフローを簡素化
  .github/actions/setup-go/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/common-setup-go.yml
  .github/workflows/common-setup-node.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
Due: prettier --write

feat: CI/CDのワークフローから重複したチェックアウトステップを削除し、依存関係のインストールを追加
  .github/actions/setup-go/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
Due: prettier --write

feat: E2EテストのワークフローでNode.js環境のセットアップを改善し、重複した依存関係のインストールステップを削除
  .github/workflows/e2e-tests.yml
Due: prettier --write

feat: ロギング機能を追加し、構造化ロガーを標準出力に設定
  .github/workflows/pr-check.yml
  backend/infrastructure/log/logger.go
Due: gofmt -w, go vet, prettier --write

fix: Refactor code structure for improved readability and maintainability
  frontend/src/components/GoalForm.tsx
  frontend/tsconfig.tsbuildinfo
Due: prettier --write

fix: エラー処理を改善し、目標進捗計算の失敗時にログ出力を追加。目標エンティティ構築時のエラーメッセージを詳細化。目標プロパティ名を 'goal_type' に変更。
  backend/application/usecases/manage_goals_usecase.go
  backend/infrastructure/repositories/postgresql_goal_repository.go
  frontend/src/types/api.ts
Due: gofmt -w, go vet, prettier --write

feat: Add `TASKS.md` and update initial database schema
  backend/infrastructure/database/migrations/001_create_initial_schema.sql
Due: none

fix: APIからの目標データ取得処理を改善し、配列またはオブジェクト形式に対応。エラー時のフォールバック処理を追加
  frontend/src/lib/contexts/GoalsContext.tsx
Due: prettier --write

fix: 財務データが見つからない場合のエラーハンドリングを改善し、適切なHTTPステータスコードを返すように修正
  backend/infrastructure/web/controllers/goals_controller.go
Due: gofmt -w, go vet

fix: 財務データが見つからない場合のエラーハンドリングを改善し、目標作成を許可するロジックを追加
  backend/application/usecases/manage_goals_usecase.go
  backend/infrastructure/web/controllers/financial_data_controller.go
  frontend/src/app/financial-data/page.tsx
  frontend/src/lib/contexts/FinancialDataContext.tsx
Due: gofmt -w, go vet, prettier --write

fix: github workflows to trigger on pull requests
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
Due: prettier --write

fix: github workflow branch filters and improve
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

feat: logging and user-onboarding test
  backend/infrastructure/web/controllers/financial_data_controller.go
  e2e/tests/user-onboarding-flow.spec.ts
Due: gofmt -w, go vet, prettier --write

test: add runn
  backend/application/usecases/manage_financial_data_usecase.go
  backend/infrastructure/web/controllers/financial_data_controller.go
  e2e/runn/README.md
  e2e/runn/api-stability.yml
  e2e/runn/debug-response.yml
  e2e/runn/simple-test.yml
  e2e/runn/user-onboarding-flow.yml
Due: gofmt -w, go vet, prettier --write

fix: correct property name from 'type' to 'goal_type' in GoalForm and ExampleUsage
  frontend/src/components/GoalForm.tsx
  frontend/src/lib/examples/ExampleUsage.tsx
Due: prettier --write

fix: set default values for financial data inputs and update validation rules
  backend/infrastructure/web/controllers/financial_data_controller.go
  e2e/runn/minimal-data-test.yml
  frontend/src/components/FinancialInputForm.tsx
  frontend/src/types/api.ts
Due: gofmt -w, go vet, prettier --write

fix: handle potential null values in financial data calculations
  frontend/src/app/financial-data/page.tsx
  frontend/src/app/goals/[id]/page.tsx
Due: prettier --write

fix: update output structures
  backend/application/usecases/manage_financial_data_usecase.go
  backend/infrastructure/web/controllers/financial_data_controller.go
Due: gofmt -w, go vet
