Repository zakisanbaiman/financial-planning-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, go vet, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.go": ["gofmt -w", "go vet"],
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "e2e/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(test): カバレッジ閾値を削除する
  frontend/jest.config.js
Due: prettier --write

feat: Add tests for retirement data and emergency fund updates (#158)
  backend/application/usecases/auth_usecase_test.go
  backend/application/usecases/calculate_projection_usecase_test.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/application/usecases/manage_financial_data_usecase_test.go
  backend/application/usecases/manage_goals_usecase_test.go
  frontend/jest.config.js
  frontend/src/lib/contexts/__tests__/FinancialDataContext.test.tsx
  frontend/src/lib/hooks/__tests__/useUser.test.ts
Due: gofmt -w, go vet, prettier --write

chore: pre-commit フックとレビューチェックリストスキルを追加する
  .claude/skills/code-review-checklist/SKILL.md
  .husky/pre-commit
Due: prettier --write

Chore/setup pre commit and review skill (#166)
  .claude/skills/code-review-checklist/SKILL.md
  .husky/pre-commit
Due: prettier --write

feat(security): set production CSP headers Issue: #144
  backend/config/server.go
  backend/infrastructure/web/middleware.go
  docker-compose.yml
  frontend/next.config.js
Due: gofmt -w, go vet, prettier --write

chore: pre-commit フックを無効化する Issue: #144
  .husky/pre-commit
  package.json
Due: prettier --write

feat(security): set production CSP headers Issue: #144 (#167)
  .husky/pre-commit
  backend/config/server.go
  backend/infrastructure/web/middleware.go
  docker-compose.yml
  frontend/next.config.js
  package.json
Due: gofmt -w, go vet, prettier --write

test: コントローラーレイヤーのユニットテストを追加する Issue: #140
  backend/infrastructure/web/controllers/auth_controller_test.go
  backend/infrastructure/web/controllers/financial_data_controller_test.go
  backend/infrastructure/web/controllers/goals_controller_test.go
  backend/infrastructure/web/controllers/reports_controller_test.go
  backend/infrastructure/web/controllers/two_factor_controller_test.go
Due: gofmt -w, go vet

test: コントローラーレイヤーのユニットテストを追加する Issue: #140 (#168)
  backend/infrastructure/web/controllers/auth_controller_test.go
  backend/infrastructure/web/controllers/financial_data_controller_test.go
  backend/infrastructure/web/controllers/goals_controller_test.go
  backend/infrastructure/web/controllers/reports_controller_test.go
  backend/infrastructure/web/controllers/two_factor_controller_test.go
Due: gofmt -w, go vet

feat(auth): パスワードリセット機能のバックエンドAPI実装 Issue: #145
  backend/application/usecases/auth_usecase.go
  backend/application/usecases/auth_usecase_test.go
  backend/application/usecases/mock_repositories_test.go
  backend/config/server.go
  backend/domain/entities/password_reset_token.go
  backend/domain/repositories/password_reset_token_repository.go
  backend/infrastructure/database/migrations/008_create_password_reset_tokens_table.sql
  backend/infrastructure/database/migrations/008_create_password_reset_tokens_table_down.sql
  backend/infrastructure/email/email_service.go
  backend/infrastructure/repositories/postgresql_password_reset_token_repository.go
  backend/infrastructure/repositories/repository_factory.go
  backend/infrastructure/web/controllers/auth_controller.go
  backend/infrastructure/web/controllers/auth_controller_test.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  backend/main.go
Due: gofmt -w, go vet

feat(auth): パスワードリセット機能のバックエンドAPI実装 Issue: #145 (#170)
  backend/application/usecases/auth_usecase.go
  backend/application/usecases/auth_usecase_test.go
  backend/application/usecases/mock_repositories_test.go
  backend/config/server.go
  backend/domain/entities/password_reset_token.go
  backend/domain/repositories/password_reset_token_repository.go
  backend/infrastructure/database/migrations/008_create_password_reset_tokens_table.sql
  backend/infrastructure/database/migrations/008_create_password_reset_tokens_table_down.sql
  backend/infrastructure/email/email_service.go
  backend/infrastructure/repositories/postgresql_password_reset_token_repository.go
  backend/infrastructure/repositories/repository_factory.go
  backend/infrastructure/web/controllers/auth_controller.go
  backend/infrastructure/web/controllers/auth_controller_test.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  backend/main.go
Due: gofmt -w, go vet

feat(frontend): セキュリティ設定ページへのナビゲーション導線を追加
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/Navigation.tsx
Due: prettier --write

feat(frontend): セキュリティ設定ページへのナビゲーション導線を追加 (#172)
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/Navigation.tsx
Due: prettier --write

fix(frontend): API_BASE_URLをrewriteプロキシ経由に変更しCSP違反を修正
  CLAUDE.md
  frontend/src/app/login/page.tsx
  frontend/src/app/reports/page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/AuthContext.tsx
  frontend/src/lib/integration-utils.ts
Due: prettier --write

chore: Add .claude/settings.local.json to .gitignore
  .gitignore
Due: none

fix(frontend): CSP違反を修正 - API通信をrewriteプロキシ経由に変更 (#173)
  .gitignore
  CLAUDE.md
  frontend/src/app/login/page.tsx
  frontend/src/app/reports/page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/AuthContext.tsx
  frontend/src/lib/integration-utils.ts
Due: prettier --write

feat(infra): ログ集約基盤を導入する（Loki + Promtail + Grafana Logs）
  backend/infrastructure/web/middleware.go
  docker-compose.monitoring.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
Due: gofmt -w, go vet, prettier --write

feat(infra): ログ集約基盤を導入する（Loki + Promtail + Grafana Logs） (#174)
  backend/infrastructure/web/middleware.go
  docker-compose.monitoring.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
Due: gofmt -w, go vet, prettier --write

fix(frontend): 計算ページのハードコードされたユーザーIDを修正
  frontend/src/app/calculations/__tests__/page.test.tsx
  frontend/src/app/calculations/page.tsx
Due: prettier --write

fix(frontend): 計算ページのハードコードされたユーザーIDを修正 (#175)
  frontend/src/app/calculations/__tests__/page.test.tsx
  frontend/src/app/calculations/page.tsx
Due: prettier --write

feat(backend/frontend): PDFレポートダウンロード機能を完成させる Issue: #148
  backend/application/usecases/generate_reports_usecase.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/infrastructure/pdf/pdf_generator.go
  backend/infrastructure/storage/temporary_file_storage.go
  backend/infrastructure/storage/temporary_file_storage_test.go
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/controllers/reports_controller.go
  backend/infrastructure/web/controllers/reports_controller_test.go
  backend/infrastructure/web/server.go
  backend/main.go
  e2e/tests/reports-download-scenario.spec.ts
  frontend/src/app/reports/page.tsx
Due: gofmt -w, go vet, prettier --write

feat(backend/frontend): PDFレポートダウンロード機能を完成させる (#176)
  backend/application/usecases/generate_reports_usecase.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/infrastructure/pdf/pdf_generator.go
  backend/infrastructure/storage/temporary_file_storage.go
  backend/infrastructure/storage/temporary_file_storage_test.go
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/controllers/reports_controller.go
  backend/infrastructure/web/controllers/reports_controller_test.go
  backend/infrastructure/web/server.go
  backend/main.go
  e2e/tests/reports-download-scenario.spec.ts
  frontend/src/app/reports/page.tsx
Due: gofmt -w, go vet, prettier --write

fix(frontend): ログインボタンがローディングのまま止まらないバグを修正
  frontend/next.config.js
  frontend/src/app/login/page.tsx
  frontend/src/app/reports/page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/AuthContext.tsx
  frontend/src/lib/contexts/__tests__/AuthContext.test.tsx
  frontend/src/lib/integration-utils.ts
Due: prettier --write

fix(frontend): ログインボタンがローディングのまま止まらないバグを修正 (#177)
  frontend/next.config.js
  frontend/src/app/login/page.tsx
  frontend/src/app/reports/page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/AuthContext.tsx
  frontend/src/lib/contexts/__tests__/AuthContext.test.tsx
  frontend/src/lib/integration-utils.ts
Due: prettier --write

fix(e2e): E2Eテストに認証対応を追加し全テストをパスさせる
  e2e/tests/calculation-scenario.spec.ts
  e2e/tests/financial-data-scenario.spec.ts
  e2e/tests/goals-scenario.spec.ts
  e2e/tests/test-utils.ts
  e2e/tests/user-onboarding-flow.spec.ts
Due: prettier --write

fix(frontend): CSPのunsafe-eval不足によりNext.jsがhydrationできないバグを修正
  frontend/next.config.js
  frontend/src/lib/contexts/AuthContext.tsx
  frontend/src/lib/contexts/__tests__/AuthContext.test.tsx
Due: prettier --write

Fix/e2e auth (#179)
  e2e/tests/calculation-scenario.spec.ts
  e2e/tests/financial-data-scenario.spec.ts
  e2e/tests/goals-scenario.spec.ts
  e2e/tests/test-utils.ts
  e2e/tests/user-onboarding-flow.spec.ts
Due: prettier --write

chore(render): Neon DB向けにマイグレーション自動実行を設定
  render.yaml
Due: prettier --write

chore(render): Neon DB向けにマイグレーション自動実行を設定 (#180)
  render.yaml
Due: prettier --write

fix(frontend): Render上でAPIプロキシがlocalhost:8080に接続する問題を修正
  frontend/src/middleware.ts
  render.yaml
Due: prettier --write

fix(render): APIプロキシとマイグレーション自動実行の設定 (#181)
  frontend/src/middleware.ts
  render.yaml
Due: prettier --write

fix(backend): ヘルスチェックをレートリミット対象外にする
  backend/infrastructure/web/middleware.go
Due: gofmt -w, go vet

Chore/render migration pre deploy (#182)
  backend/infrastructure/web/middleware.go
Due: gofmt -w, go vet

feat(infra): docker-compose.ymlにRedisを追加 #150
  docker-compose.yml
Due: prettier --write

feat(backend): レートリミットをRedisベースに移行 #150
  backend/go.mod
  backend/go.sum
  backend/infrastructure/redis/client.go
  backend/infrastructure/web/auth_ratelimit_test.go
  backend/infrastructure/web/middleware_test.go
  backend/infrastructure/web/ratelimit_store.go
  backend/infrastructure/web/ratelimit_store_test.go
Due: gofmt -w, go vet

feat(infra/backend): Redis導入とレートリミット移行 #150 (#183)
  backend/go.mod
  backend/go.sum
  backend/infrastructure/redis/client.go
  backend/infrastructure/web/auth_ratelimit_test.go
  backend/infrastructure/web/middleware_test.go
  backend/infrastructure/web/ratelimit_store.go
  backend/infrastructure/web/ratelimit_store_test.go
  docker-compose.yml
Due: gofmt -w, go vet, prettier --write

chore: Railway移行 - REDIS_PASSWORD対応とRender関連ファイル削除
  .github/workflows/monitor-render-deployments.yml
  backend/.env.example
  backend/infrastructure/redis/client.go
  render.yaml
  scripts/check-render-deployments.js
  scripts/mcp-server-render.js
Due: gofmt -w, go vet, prettier --write
