Repository zakisanbaiman/financial-planning-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, go vet, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.go": ["gofmt -w", "go vet"],
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "e2e/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs: GitHub Issue作成ガイドのskill追加
  .claude/skills/github-issues/SKILL.md
Due: prettier --write

Fix/guest mode goals login (#118)
  .claude/skills/github-issues/SKILL.md
Due: prettier --write

Add observability infrastructure: Prometheus metrics, structured logging, and error tracking (#122)
  README.md
  backend/.env.example
  backend/go.mod
  backend/go.sum
  backend/infrastructure/log/logger.go
  backend/infrastructure/monitoring/error_tracker.go
  backend/infrastructure/monitoring/monitoring_test.go
  backend/infrastructure/monitoring/prometheus.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/routes.go
  backend/main.go
  docker-compose.monitoring.yml
  docs/MONITORING.md
  docs/MONITORING_IMPLEMENTATION_REPORT.md
  monitoring/grafana-dashboard.json
  monitoring/prometheus.yml
Due: gofmt -w, go vet, prettier --write

Organize root Markdown files: consolidate docs and remove AI logs (#129)
  .github/workflows/preview-environment.yml
  DEV_ENVIRONMENT_IMPLEMENTATION_SUMMARY.md
  DEV_ENVIRONMENT_SETUP.md
  FINANCIAL_DATA_TEST_SUMMARY.md
  GITHUB_ACTIONS_FIXES.md
  GIT_HOOKS_FIX.md
  GIT_HOOKS_SETUP.md
  GUEST_MODE_IMPLEMENTATION.md
  HOT_RELOAD_VERIFICATION.md
  IMPLEMENTATION_SUMMARY.md
  PASSKEY_IMPLEMENTATION_SUMMARY.md
  README.md
  SCENARIO_TESTS_SUMMARY.md
  TASKS.md
  TASK_12_SUMMARY.md
  docs/DOCKER_SETUP.md
  docs/HOT_RELOAD_GUIDE.md
  docs/INTEGRATION.md
  docs/LOCAL_CI.md
  docs/PLAN_2FA.md
  docs/PREVIEW_ENVIRONMENT_QUICK_REF.md
  docs/SETUP.md
  docs/architecture/README.md
  e2e/runn/HOW_TO_RUN_TESTS.md
Due: prettier --write

chore: .env.dockerを削除
  .env.docker
Due: none

chore: .env.dockerを削除 (#130)
  .env.docker
Due: none

fix: 実装済みのPDF生成ロジックのTODOを削除 - Issue: #126
  backend/application/usecases/generate_reports_usecase.go
Due: gofmt -w, go vet

fix: 実装済みのPDF生成ロジックのTODOを削除 - Issue: #126 (#131)
  backend/application/usecases/generate_reports_usecase.go
Due: gofmt -w, go vet

docs: デプロイフローのドキュメントを追加
  README.md
  docs/DEPLOYMENT_FLOW.md
Due: prettier --write

Apply suggestions from code review
  docs/DEPLOYMENT_FLOW.md
Due: prettier --write

docs: 機能していないPRプレビュー環境の記述を削除
  .github/workflows/preview-environment.yml
  README.md
  docs/DEPLOYMENT_FLOW.md
  docs/PREVIEW_ENVIRONMENT_QUICK_REF.md
Due: prettier --write

docs: デプロイフローのドキュメントを追加 (#132)
  .github/workflows/preview-environment.yml
  README.md
  docs/DEPLOYMENT_FLOW.md
  docs/PREVIEW_ENVIRONMENT_QUICK_REF.md
Due: prettier --write

feat(security): IPアドレス別レートリミットを実装
  backend/config/server.go
  backend/infrastructure/web/README.md
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/middleware_test.go
  docs/INTEGRATION.md
Due: gofmt -w, go vet, prettier --write

refactor: change rate limit error messages to English
  backend/infrastructure/web/middleware.go
Due: gofmt -w, go vet

feat(security): IPアドレス別レートリミットを実装 (#133)
  backend/config/server.go
  backend/infrastructure/web/README.md
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/middleware_test.go
  docs/INTEGRATION.md
Due: gofmt -w, go vet, prettier --write

feat: add /api/rate-limit/status endpoint and X-RateLimit-* headers
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/ratelimit_store.go
  backend/infrastructure/web/ratelimit_store_test.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
  backend/main.go
Due: gofmt -w, go vet

feat: add /api/rate-limit/status endpoint and X-RateLimit-* headers (#134)
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/ratelimit_store.go
  backend/infrastructure/web/ratelimit_store_test.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
  backend/main.go
Due: gofmt -w, go vet

feat(currency-input): add live comma formatting while typing
  frontend/src/components/CurrencyInput.tsx
Due: prettier --write

feat(currency-input): add live comma formatting while typing (#135)
  frontend/src/components/CurrencyInput.tsx
Due: prettier --write

fix: ダークモード時の可読性を改善 (11ファイル)
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/reports/page.tsx
  frontend/src/app/settings/security/page.tsx
  frontend/src/components/CurrencyInput.tsx
  frontend/src/components/EmergencyFundCalculator.tsx
  frontend/src/components/FinancialInputForm.tsx
  frontend/src/components/GoalForm.tsx
  frontend/src/components/GoalProgressTracker.tsx
  frontend/src/components/GoalRecommendations.tsx
  frontend/src/components/GoalsSummaryChart.tsx
  frontend/src/components/RetirementCalculator.tsx
Due: prettier --write

fix: 緊急資金に関する表現を修正
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/EmergencyFundCalculator.tsx
Due: prettier --write

Fix/dark-mode-readability (#137)
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/reports/page.tsx
  frontend/src/app/settings/security/page.tsx
  frontend/src/components/CurrencyInput.tsx
  frontend/src/components/EmergencyFundCalculator.tsx
  frontend/src/components/FinancialInputForm.tsx
  frontend/src/components/GoalForm.tsx
  frontend/src/components/GoalProgressTracker.tsx
  frontend/src/components/GoalRecommendations.tsx
  frontend/src/components/GoalsSummaryChart.tsx
  frontend/src/components/RetirementCalculator.tsx
Due: prettier --write

feat: 認証エンドポイント専用レートリミットを追加
  backend/config/server.go
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/auth_ratelimit_test.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
Due: gofmt -w, go vet

feat: 認証エンドポイント専用レートリミットを追加 (#138)
  backend/config/server.go
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/auth_ratelimit_test.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
Due: gofmt -w, go vet

feat: ユースケースのテストを追加 (資産、退職、目標、包括的なプロジェクション)
  backend/application/usecases/calculate_projection_usecase_test.go
  backend/application/usecases/manage_financial_data_usecase_test.go
  backend/application/usecases/manage_goals_usecase_test.go
  backend/application/usecases/mock_repositories_test.go
Due: gofmt -w, go vet

feat: 認証ユースケースの単体テストを追加
  backend/application/usecases/auth_usecase_test.go
Due: gofmt -w, go vet

feat(tests): モックの引数に mock_anything() を使用してテストの柔軟性を向上
  backend/application/usecases/auth_usecase_test.go
  backend/application/usecases/calculate_projection_usecase_test.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/application/usecases/manage_financial_data_usecase_test.go
  backend/application/usecases/manage_goals_usecase_test.go
Due: gofmt -w, go vet

feat(tests): 財務計画と目標のモックを追加し、目標進捗レポートのテストを強化
  backend/application/usecases/generate_reports_usecase_test.go
  backend/application/usecases/manage_goals_usecase_test.go
Due: gofmt -w, go vet

Feat/usecase-unit-tests-125 (#153)
  backend/application/usecases/auth_usecase_test.go
  backend/application/usecases/calculate_projection_usecase_test.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/application/usecases/manage_financial_data_usecase_test.go
  backend/application/usecases/manage_goals_usecase_test.go
  backend/application/usecases/mock_repositories_test.go
Due: gofmt -w, go vet

test: WebAuthnユースケースのユニットテスト追加・Codecovカバレッジ可視化 (#154)
  .github/workflows/test.yml
  backend/application/usecases/mock_repositories_test.go
  backend/application/usecases/webauthn_usecase_test.go
  codecov.yml
Due: gofmt -w, go vet, prettier --write

feat(ci): フロントエンドのユニットテストをCIで実行する
  .github/workflows/test.yml
  codecov.yml
Due: prettier --write

feat(ci): フロントエンドのユニットテストをCIで実行する (#155)
  .github/workflows/test.yml
  codecov.yml
Due: prettier --write

feat(ci): Renovateで依存ライブラリの自動アップデートを設定する
  renovate.json
Due: prettier --write

feat(ci): Renovateで依存ライブラリの自動アップデートを設定する (#156)
  renovate.json
Due: prettier --write

fix: useUser テストを AuthContext/GuestModeContext 依存に対応させる
  frontend/src/lib/hooks/__tests__/useUser.test.ts
Due: prettier --write

fix: useUser テストを AuthContext/GuestModeContext 依存に対応させる (#157)
  frontend/src/lib/hooks/__tests__/useUser.test.ts
Due: prettier --write

feat: Add tests for retirement data and emergency fund updates
  backend/application/usecases/auth_usecase_test.go
  backend/application/usecases/calculate_projection_usecase_test.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/application/usecases/manage_financial_data_usecase_test.go
  backend/application/usecases/manage_goals_usecase_test.go
Due: gofmt -w, go vet

fix(test): useUser テストを AuthContext/GuestModeContext のモックに対応させる
  frontend/src/lib/hooks/__tests__/useUser.test.ts
Due: prettier --write

fix(test): FinancialDataContext テストに GuestModeProvider を追加する
  frontend/src/lib/contexts/__tests__/FinancialDataContext.test.tsx
Due: prettier --write
