Repository zakisanbaiman/financial-planning-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, go vet, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.go": ["gofmt -w", "go vet"],
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "e2e/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(adr): add bot SSE decision for issue 217
  docs/adr/005-bot-integration-sse.md
  docs/adr/README.md
Due: prettier --write

Codex/issue 217 bot adr (#218)
  .claude/skills/financial-planning/SKILL.md
  .gitignore
  .takt/.gitignore
  docs/adr/005-bot-integration-sse.md
  docs/adr/README.md
  frontend/tsconfig.tsbuildinfo
Due: prettier --write

feat(bot): Bot連携SSE機能を実装する #217
  backend/application/bot_usecase.go
  backend/application/bot_usecase_test.go
  backend/application/ports/faq_loader.go
  backend/application/ports/llm_client.go
  backend/config/server.go
  backend/infrastructure/faq/loader.go
  backend/infrastructure/faq/loader_test.go
  backend/infrastructure/faq/types.go
  backend/infrastructure/llm/local.go
  backend/infrastructure/llm/local_test.go
  backend/infrastructure/llm/types.go
  backend/infrastructure/web/controllers/bot_controller.go
  backend/infrastructure/web/controllers/bot_controller_test.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  docs/faq/ideco.md
  docs/faq/nisa.md
  frontend/src/app/bot/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/hooks/__tests__/useBot.test.ts
  frontend/src/lib/hooks/useBot.ts
  frontend/src/types/api.ts
Due: gofmt -w, go vet, prettier --write

fix(bot): context cancel関数が全パスで呼ばれない問題を修正 #217
  backend/infrastructure/llm/local_test.go
Due: gofmt -w, go vet

feat(bot): Bot連携SSE機能を実装する #217 (#220)
  backend/application/bot_usecase.go
  backend/application/bot_usecase_test.go
  backend/application/ports/faq_loader.go
  backend/application/ports/llm_client.go
  backend/config/server.go
  backend/infrastructure/faq/loader.go
  backend/infrastructure/faq/loader_test.go
  backend/infrastructure/faq/types.go
  backend/infrastructure/llm/local.go
  backend/infrastructure/llm/local_test.go
  backend/infrastructure/llm/types.go
  backend/infrastructure/web/controllers/bot_controller.go
  backend/infrastructure/web/controllers/bot_controller_test.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  docs/faq/ideco.md
  docs/faq/nisa.md
  frontend/src/app/bot/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/hooks/__tests__/useBot.test.ts
  frontend/src/lib/hooks/useBot.ts
  frontend/src/types/api.ts
Due: gofmt -w, go vet, prettier --write

fix(bot): ローカルLLMをGroq APIに置き換え・Dockerfileにdocs/faqを追加 #217
  backend/Dockerfile
  backend/config/server.go
  backend/infrastructure/llm/groq.go
  backend/infrastructure/llm/groq_test.go
  backend/infrastructure/llm/local.go
  backend/infrastructure/llm/local_test.go
  backend/infrastructure/web/server.go
Due: gofmt -w, go vet

fix(bot): ローカルLLMをGroq APIに置き換え・Dockerfileにdocs/faqを追加 #217 (#222)
  backend/Dockerfile
  backend/config/server.go
  backend/infrastructure/llm/groq.go
  backend/infrastructure/llm/groq_test.go
  backend/infrastructure/llm/local.go
  backend/infrastructure/llm/local_test.go
  backend/infrastructure/web/server.go
Due: gofmt -w, go vet

fix(backend): RailwayのrootDirectory変更に対応しDockerfileのCOPYパスを修正 #217
  backend/Dockerfile
Due: none

fix(backend): RailwayのrootDirectory変更に対応しDockerfileのCOPYパスを修正 #217 (#223)
  backend/Dockerfile
Due: none

fix(backend): バリデーションエラーのfieldをjsonタグ名（snake_case）に統一 #203
  backend/infrastructure/web/validation_test.go
  backend/infrastructure/web/validator.go
Due: gofmt -w, go vet

fix(backend): バリデーションエラーのfieldをjsonタグ名（snake_case）に統一 #203 (#224)
  backend/infrastructure/web/validation_test.go
  backend/infrastructure/web/validator.go
Due: gofmt -w, go vet

feat(backend): Redisキャッシュ戦略を実装（Cache-Aside + Repositoryデコレータ）#214
  backend/domain/aggregates/financial_plan.go
  backend/domain/entities/financial_profile.go
  backend/domain/entities/retirement_data.go
  backend/infrastructure/monitoring/prometheus.go
  backend/infrastructure/redis/cache.go
  backend/infrastructure/redis/cache_client.go
  backend/infrastructure/repositories/cache_dto.go
  backend/infrastructure/repositories/cache_keys.go
  backend/infrastructure/repositories/cached_financial_plan_repository.go
  backend/infrastructure/repositories/cached_financial_plan_repository_test.go
  backend/infrastructure/repositories/cached_goal_repository.go
  backend/infrastructure/repositories/cached_goal_repository_test.go
  backend/main.go
  docs/adr/006-redis-cache-strategy.md
Due: gofmt -w, go vet, prettier --write

feat(backend): Redisキャッシュ戦略を実装（Cache-Aside + Repositoryデコレータ）#214 (#225)
  backend/domain/aggregates/financial_plan.go
  backend/domain/entities/financial_profile.go
  backend/domain/entities/retirement_data.go
  backend/infrastructure/monitoring/prometheus.go
  backend/infrastructure/redis/cache.go
  backend/infrastructure/redis/cache_client.go
  backend/infrastructure/repositories/cache_dto.go
  backend/infrastructure/repositories/cache_keys.go
  backend/infrastructure/repositories/cached_financial_plan_repository.go
  backend/infrastructure/repositories/cached_financial_plan_repository_test.go
  backend/infrastructure/repositories/cached_goal_repository.go
  backend/infrastructure/repositories/cached_goal_repository_test.go
  backend/main.go
  docs/adr/006-redis-cache-strategy.md
Due: gofmt -w, go vet, prettier --write

feat(frontend): フッターコンポーネントと利用規約・プライバシーポリシーページを追加 #202
  frontend/src/app/layout.tsx
  frontend/src/app/privacy/page.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/components/Footer.tsx
Due: prettier --write

feat(frontend): OGPメタタグとOG画像生成APIを追加 #200
  frontend/src/app/api/og/route.tsx
  frontend/src/app/layout.tsx
Due: prettier --write

feat(frontend): フッターの追加（利用規約・プライバシーポリシーへのリンク）#202 (#226)
  frontend/src/app/layout.tsx
  frontend/src/app/privacy/page.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/components/Footer.tsx
Due: prettier --write

feat(frontend): OGPメタタグとOG画像生成APIを追加 #200 (#227)
  frontend/src/app/api/og/route.tsx
  frontend/src/app/layout.tsx
Due: prettier --write

fix(backend): 目標作成時の達成困難・重複エラーを適切なHTTPステータスで返す
  backend/infrastructure/web/controllers/goals_controller.go
Due: gofmt -w, go vet

fix(backend): 目標作成時の達成困難・重複エラーを適切なHTTPステータスで返す (#229)
  backend/infrastructure/web/controllers/goals_controller.go
Due: gofmt -w, go vet

feat(bot): サービスの使い方FAQを追加しBotをサービス識別対応に #228
  backend/application/bot_usecase.go
  docs/faq/account_guide.md
  docs/faq/asset_simulation.md
  docs/faq/emergency_fund.md
  docs/faq/goal_management.md
  docs/faq/retirement_calculation.md
  docs/faq/service_overview.md
Due: gofmt -w, go vet, prettier --write

feat(bot): サービスの使い方FAQを追加しBotをサービス識別対応に #228 (#230)
  backend/application/bot_usecase.go
  docs/faq/account_guide.md
  docs/faq/asset_simulation.md
  docs/faq/emergency_fund.md
  docs/faq/goal_management.md
  docs/faq/retirement_calculation.md
  docs/faq/service_overview.md
Due: gofmt -w, go vet, prettier --write

fix(backend): GoalエンティティにMarshalJSONを追加してNaN表示バグを修正
  backend/domain/entities/goal.go
Due: gofmt -w, go vet

fix(backend): GoalエンティティにMarshalJSONを追加してNaN%表示バグを修正 (#231)
  backend/domain/entities/goal.go
Due: gofmt -w, go vet

fix: support GA measurement ID aliases
  README.md
  docs/INTEGRATION.md
  frontend/src/app/__tests__/layout.test.tsx
  frontend/src/app/layout.tsx
Due: prettier --write

fix: support GA measurement ID aliases (#232)
  README.md
  docs/INTEGRATION.md
  frontend/src/app/__tests__/layout.test.tsx
  frontend/src/app/layout.tsx
Due: prettier --write

fix(frontend): DockerビルドにNEXT_PUBLIC_GA_IDのARGを追加してGA4を有効化
  frontend/Dockerfile
Due: none

fix(frontend): GA4が本番環境で動作しない問題を修正 (#233)
  frontend/Dockerfile
Due: none

feat(frontend): サンプルデータ使用中であることを画面上に表示
  frontend/src/app/calculations/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/reports/page.tsx
Due: prettier --write

feat(frontend): サンプルデータ使用中であることを画面上に表示 (#234)
  frontend/src/app/calculations/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/reports/page.tsx
Due: prettier --write

fix(backend): レート制限の閾値緩和とretry_after動的化、X-Forwarded-Forパース修正 #201
  backend/config/server.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/middleware_test.go
Due: gofmt -w, go vet

fix(backend): レート制限の閾値緩和とretry_after動的化、X-Forwarded-Forパース修正 #201 (#235)
  backend/config/server.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/middleware_test.go
Due: gofmt -w, go vet

feat(observability): Prometheus/GrafanaをNew Relic APMに完全置き換え #146
  backend/.env.example
  backend/config/server.go
  backend/go.mod
  backend/go.sum
  backend/infrastructure/monitoring/error_tracker.go
  backend/infrastructure/monitoring/monitoring_test.go
  backend/infrastructure/monitoring/newrelic.go
  backend/infrastructure/monitoring/prometheus.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/routes.go
  backend/main.go
  docker-compose.monitoring.yml
  docker-compose.yml
  docs/MONITORING.md
  docs/RUNBOOK.md
  monitoring/alert_rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana-dashboard.json
  monitoring/grafana/provisioning/alerting/alerting.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
Due: gofmt -w, go vet, prettier --write

feat(observability): Prometheus/GrafanaをNew Relic APMに完全置き換え (#237)
  backend/.env.example
  backend/config/server.go
  backend/go.mod
  backend/go.sum
  backend/infrastructure/monitoring/error_tracker.go
  backend/infrastructure/monitoring/monitoring_test.go
  backend/infrastructure/monitoring/newrelic.go
  backend/infrastructure/monitoring/prometheus.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/routes.go
  backend/main.go
  docker-compose.monitoring.yml
  docker-compose.yml
  docs/MONITORING.md
  docs/RUNBOOK.md
  monitoring/alert_rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana-dashboard.json
  monitoring/grafana/provisioning/alerting/alerting.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
Due: gofmt -w, go vet, prettier --write

feat(backend): TRUSTED_PROXY_COUNTによる信頼済みプロキシIPの安全な識別 #236
  backend/config/server.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/middleware_test.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
Due: gofmt -w, go vet

feat(backend): TRUSTED_PROXY_COUNTによる信頼済みプロキシIPの安全な識別 #236 (#239)
  backend/config/server.go
  backend/infrastructure/web/middleware.go
  backend/infrastructure/web/middleware_test.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
Due: gofmt -w, go vet

docs: ドメイン境界の可視化（依存関係図の作成） #215
  docs/adr/007-ddd-domain-boundary.md
  docs/adr/README.md
  docs/architecture/DOMAIN_DIAGRAM.md
  docs/architecture/README.md
Due: prettier --write

docs: ドメイン境界の可視化（依存関係図の作成） #215 (#240)
  docs/adr/007-ddd-domain-boundary.md
  docs/adr/README.md
  docs/architecture/DOMAIN_DIAGRAM.md
  docs/architecture/README.md
Due: prettier --write
