Repository zakisanbaiman/financial-planning-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, go vet, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.go": ["gofmt -w", "go vet"],
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "e2e/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(frontend): NPM依存パッケージの脆弱性12件を修正 (#241)
  .github/workflows/test.yml
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: prettier --write

fix(frontend): ESLint v9 フラット設定へ移行（Next.js 16対応）
  frontend/eslint.config.js
  frontend/package.json
Due: prettier --write

fix(frontend): lintエラーを解消（--max-warnings 0 対応）
  .github/workflows/lint.yml
  frontend/eslint.config.js
Due: prettier --write

fix(frontend): NPM依存パッケージの脆弱性12件を修正 (#246)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  frontend/eslint.config.js
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: prettier --write

fix(ci): E2EテストのDBマイグレーションとフルスペック実行を有効化 #243
  .github/workflows/e2e-tests.yml
  e2e/playwright.config.ts
Due: prettier --write

fix(ci): E2EテストのDBマイグレーションとフルスペック実行を有効化 #243 (#247)
  .github/workflows/e2e-tests.yml
  e2e/playwright.config.ts
Due: prettier --write

fix(ci): シードデータのgoals target_dateを過去日付から更新
  backend/infrastructure/database/seeds/001_sample_data.sql
Due: none

fix(e2e): reportsテストにJWT認証を追加、ログインタイムアウトを延長
  e2e/tests/login-test.spec.ts
  e2e/tests/reports-download-scenario.spec.ts
Due: prettier --write

fix(e2e): reportsテストにエラーステータスのデバッグログを追加
  e2e/tests/reports-download-scenario.spec.ts
Due: prettier --write

fix(backend): ExportReportToPDFをUserIDからDBデータを取得して生成するよう修正
  backend/application/usecases/generate_reports_usecase.go
  e2e/tests/reports-download-scenario.spec.ts
Due: gofmt -w, go vet, prettier --write

fix(test): ExportReportToPDFテストにfinancialPlanRepoモック設定を追加
  backend/application/usecases/generate_reports_usecase_test.go
Due: gofmt -w, go vet

fix(ci): シードデータのgoals target_dateを過去日付から更新 (#248)
  backend/application/usecases/generate_reports_usecase.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/infrastructure/database/seeds/001_sample_data.sql
  e2e/tests/login-test.spec.ts
  e2e/tests/reports-download-scenario.spec.ts
Due: gofmt -w, go vet, prettier --write

fix(ci): NEXT_PUBLIC_API_URLから重複する/apiパスを削除
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix(ci): E2EテストのNEXT_PUBLIC_API_URLから重複する/apiを削除
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix(ci): E2EテストのNEXT_PUBLIC_API_URLから重複する/apiを削除 (#249)
  .github/workflows/e2e-tests.yml
Due: prettier --write

perf(ci): E2EテストのCI実行時間を短縮
  .github/workflows/e2e-tests.yml
  e2e/playwright.config.ts
Due: prettier --write

perf(ci): E2EテストのCI実行時間を短縮 (#250)
  .github/workflows/e2e-tests.yml
  e2e/playwright.config.ts
Due: prettier --write

fix(frontend): セキュリティ設定ページの文字化けを修正
  frontend/src/app/settings/security/page.tsx
Due: prettier --write

fix(frontend): セキュリティ設定ページの文字化けを修正 (#251)
  frontend/src/app/settings/security/page.tsx
Due: prettier --write

fix(ci): GoバージョンをCI/CDとgo.modで統一（go-version-file方式に移行）
  .github/actions/setup-go/action.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
Due: prettier --write

fix(ci): GoバージョンをCI/CDとgo.modで統一（go-version-file方式に移行） (#252)
  .github/actions/setup-go/action.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
Due: prettier --write

feat: CSVインポート・エクスポート機能を追加
  backend/application/usecases/csv_financial_data_usecase.go
  backend/infrastructure/web/controllers/csv_financial_data_controller.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  frontend/src/app/financial-data/page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/utils/csvExport.ts
Due: gofmt -w, go vet, prettier --write

feat: CSVインポート・エクスポート機能を追加 (#253)
  backend/application/usecases/csv_financial_data_usecase.go
  backend/infrastructure/web/controllers/csv_financial_data_controller.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  frontend/src/app/financial-data/page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/utils/csvExport.ts
Due: gofmt -w, go vet, prettier --write

fix(frontend): DockerfileのNode.jsを18から20に更新しビルド失敗を修正
  frontend/Dockerfile
Due: none

refactor(frontend): UI表記を日本語に統一
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
Due: prettier --write

refactor(frontend): UI表記を日本語に統一 (#255)
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
Due: prettier --write

fix(frontend): DockerfileのNode.jsを18から20に更新しRailwayデプロイ失敗を修正 (#254)
  frontend/Dockerfile
Due: none

feat(backend): financial_summary レポートのCSVエクスポートを実装
  backend/application/usecases/generate_reports_usecase.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/infrastructure/web/controllers/reports_controller.go
Due: gofmt -w, go vet

feat(backend): GET /api/reports/financial-summary/csv エンドポイントを追加
  backend/application/usecases/generate_reports_usecase.go
  backend/infrastructure/web/controllers/reports_controller.go
  backend/infrastructure/web/routes.go
Due: gofmt -w, go vet

feat(backend): financial_summary CSVダウンロードAPIを追加 (#256)
  backend/application/usecases/generate_reports_usecase.go
  backend/application/usecases/generate_reports_usecase_test.go
  backend/infrastructure/web/controllers/reports_controller.go
  backend/infrastructure/web/routes.go
Due: gofmt -w, go vet

docs: READMEのデプロイ情報をRailway+Neon構成に更新
  README.md
Due: prettier --write

docs: READMEのデプロイ情報をRailway+Neon構成に更新 (#257)
  README.md
Due: prettier --write

feat(frontend): レポートページに財務サマリーCSVダウンロードボタンを追加
  frontend/src/app/reports/page.tsx
Due: prettier --write

feat(frontend): レポートページに財務サマリーCSVダウンロードボタンを追加 (#258)
  frontend/src/app/reports/page.tsx
Due: prettier --write

feat(backend): 財務データCSVインポートAPIを追加
  backend/infrastructure/web/controllers/financial_data_controller.go
  backend/infrastructure/web/controllers/financial_data_controller_test.go
  backend/infrastructure/web/routes.go
Due: gofmt -w, go vet

fix(frontend): next と eslint-config-next を 16.2.6 にアップグレード
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write

fix(frontend): next と eslint-config-next を 16.2.6 にアップグレード (#260)
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write

feat(backend): 財務データCSVインポートAPIを追加 (#259)
  backend/infrastructure/web/controllers/financial_data_controller.go
  backend/infrastructure/web/controllers/financial_data_controller_test.go
  backend/infrastructure/web/routes.go
Due: gofmt -w, go vet
