Repository zakisanbaiman/financial-planning-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, go vet, prettier --write

ci: バックエンドテストに Redis サービスを追加
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
Due: prettier --write

chore: Railway移行 - REDIS_PASSWORD対応とRender関連ファイル削除 (#185)
  .github/workflows/monitor-render-deployments.yml
  .github/workflows/pr-check.yml
  .github/workflows/test.yml
  backend/.env.example
  backend/infrastructure/redis/client.go
  render.yaml
  scripts/check-render-deployments.js
  scripts/mcp-server-render.js
Due: gofmt -w, go vet, prettier --write

fix(frontend): Next.js 14.2.33→14.2.35 セキュリティ脆弱性修正
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write

Chore/railway migration (#186)
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write

fix(backend): Dockerfile のステージ順序を修正し production を最終ステージに
  backend/Dockerfile
Due: none

Chore/railway migration (#187)
  backend/Dockerfile
Due: none

feat(frontend): エディトリアルデザインシステムの導入
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/tailwind.config.js
Due: prettier --write

feat(frontend): エディトリアルデザインシステムの導入 (#188)
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/tailwind.config.js
Due: prettier --write

test(frontend): フロントエンドコンポーネントのユニットテスト追加 #141
  frontend/src/components/__tests__/AssetProjectionChart.test.tsx
  frontend/src/components/__tests__/ConnectionStatus.test.tsx
  frontend/src/components/__tests__/CurrencyInput.test.tsx
  frontend/src/components/__tests__/CurrencyInputWithPresets.test.tsx
  frontend/src/components/__tests__/EmergencyFundCalculator.test.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FinancialInputForm.test.tsx
  frontend/src/components/__tests__/GoalForm.test.tsx
  frontend/src/components/__tests__/GoalProgressTracker.test.tsx
  frontend/src/components/__tests__/GoalRecommendations.test.tsx
  frontend/src/components/__tests__/GoalsSummaryChart.test.tsx
  frontend/src/components/__tests__/InvestmentSettingsForm.test.tsx
  frontend/src/components/__tests__/LoadingSpinner.test.tsx
  frontend/src/components/__tests__/Modal.test.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
  frontend/src/components/__tests__/RetirementCalculator.test.tsx
  frontend/src/components/__tests__/ThemeToggle.test.tsx
  frontend/src/components/__tests__/Tutorial.test.tsx
  frontend/src/components/__tests__/__mocks__/react-chartjs-2.tsx
  frontend/src/lib/contexts/__tests__/CalculationsContext.test.tsx
  frontend/src/lib/contexts/__tests__/GoalsContext.test.tsx
  frontend/src/lib/contexts/__tests__/GuestModeContext.test.tsx
  frontend/src/lib/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/lib/contexts/__tests__/TutorialContext.test.tsx
  frontend/src/test-utils.tsx
Due: prettier --write

fix(frontend): エディトリアルデザインシステムのスタイル修正とテスト追加
  e2e/tests/login-test.spec.ts
  frontend/src/app/__tests__/layout.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/tailwind.config.js
Due: prettier --write

fix(frontend): layout.tsxの重複Google Fonts <link>タグを削除
  frontend/src/app/layout.tsx
Due: prettier --write

test(frontend): フロントエンドコンポーネントのユニットテスト追加 #141 (#189)
  e2e/tests/login-test.spec.ts
  frontend/src/app/__tests__/layout.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/__tests__/AssetProjectionChart.test.tsx
  frontend/src/components/__tests__/ConnectionStatus.test.tsx
  frontend/src/components/__tests__/CurrencyInput.test.tsx
  frontend/src/components/__tests__/CurrencyInputWithPresets.test.tsx
  frontend/src/components/__tests__/EmergencyFundCalculator.test.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FinancialInputForm.test.tsx
  frontend/src/components/__tests__/GoalForm.test.tsx
  frontend/src/components/__tests__/GoalProgressTracker.test.tsx
  frontend/src/components/__tests__/GoalRecommendations.test.tsx
  frontend/src/components/__tests__/GoalsSummaryChart.test.tsx
  frontend/src/components/__tests__/InvestmentSettingsForm.test.tsx
  frontend/src/components/__tests__/LoadingSpinner.test.tsx
  frontend/src/components/__tests__/Modal.test.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
  frontend/src/components/__tests__/RetirementCalculator.test.tsx
  frontend/src/components/__tests__/ThemeToggle.test.tsx
  frontend/src/components/__tests__/Tutorial.test.tsx
  frontend/src/components/__tests__/__mocks__/react-chartjs-2.tsx
  frontend/src/lib/contexts/__tests__/CalculationsContext.test.tsx
  frontend/src/lib/contexts/__tests__/GoalsContext.test.tsx
  frontend/src/lib/contexts/__tests__/GuestModeContext.test.tsx
  frontend/src/lib/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/lib/contexts/__tests__/TutorialContext.test.tsx
  frontend/src/test-utils.tsx
  frontend/tailwind.config.js
Due: prettier --write

docs: README最上部にデモURL・CIバッジ・主要機能・非機能要件を追加 #160
  README.md
Due: prettier --write

docs: README最上部にデモURL・CIバッジ・主要機能・非機能要件を追加 #160 (#190)
  README.md
Due: prettier --write

docs: PR CheckバッジをREADMEから削除
  README.md
Due: prettier --write

chore(ci): CIキャッシュ最適化・冗長ステップ削除・バッジ安定化 #162
  .github/actions/setup-node/action.yml
  .github/workflows/test.yml
  README.md
Due: prettier --write

chore(ci): CIキャッシュ最適化・冗長ステップ削除・バッジ安定化 #162 (#191)
  .github/actions/setup-node/action.yml
  .github/workflows/test.yml
  README.md
Due: prettier --write

feat(frontend): Google Analytics (GA4) を追加 #165
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
Due: prettier --write

feat(frontend): Google Analytics (GA4) を追加 #165 (#192)
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
Due: prettier --write

fix(frontend): secondaryボタンのダークモード背景色を修正
  frontend/src/components/Button.tsx
Due: prettier --write

fix(frontend): secondaryボタンのダークモード背景色を修正 (#193)
  frontend/src/components/Button.tsx
Due: prettier --write

feat(infra): Grafanaにアラートルールを設定する #146
  docker-compose.monitoring.yml
  monitoring/alert_rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana/provisioning/alerting/alerting.yml
  monitoring/prometheus.yml
Due: prettier --write

feat(infra): Grafanaにアラートルールを設定する #146 (#194)
  docker-compose.monitoring.yml
  monitoring/alert_rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana/provisioning/alerting/alerting.yml
  monitoring/prometheus.yml
Due: prettier --write

fix(frontend): /profile・/calculatorの旧URLを新URLへリダイレクト #195
  frontend/next.config.js
Due: prettier --write

fix(frontend): /profile・/calculatorの旧URLを新URLへリダイレクト #195 (#204)
  frontend/next.config.js
Due: prettier --write

fix(frontend): CSPヘッダーにGA4ドメインを追加 #198
  frontend/next.config.js
Due: prettier --write

feat(frontend): パスワードリセット機能のフロントエンドを実装する #199
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/reset-password/page.tsx
  frontend/src/lib/api-client.ts
Due: prettier --write

fix(frontend): CSPヘッダーにGA4ドメインを追加 #198 (#205)
  frontend/next.config.js
Due: prettier --write

feat(frontend): パスワードリセット機能のフロントエンドを実装する #199 (#206)
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/reset-password/page.tsx
  frontend/src/lib/api-client.ts
Due: prettier --write

chore(backend): ResendをデフォルトSMTPプロバイダーに設定する
  backend/config/server.go
  backend/infrastructure/email/email_service.go
Due: gofmt -w, go vet

fix(backend): SMTPからResend HTTP APIに切り替える
  backend/infrastructure/email/email_service.go
Due: gofmt -w, go vet

fix(backend): SMTPからResend HTTP APIに切り替える (#207)
  backend/config/server.go
  backend/infrastructure/email/email_service.go
Due: gofmt -w, go vet

docs: ADR-003・004を追加する #208
  docs/adr/003-migrate-to-railway-neon.md
  docs/adr/004-email-resend-http-api.md
  docs/adr/README.md
Due: prettier --write

docs: ADR-003・004を追加する #208 (#210)
  docs/adr/003-migrate-to-railway-neon.md
  docs/adr/004-email-resend-http-api.md
  docs/adr/README.md
Due: prettier --write

fix(backend): /api/health エンドポイントを認証不要で追加する #197
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
Due: gofmt -w, go vet

fix(backend): /api/health エンドポイントを認証不要で追加する #197 (#211)
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
Due: gofmt -w, go vet

fix(frontend): カスタム404ページを追加する #196
  frontend/src/app/not-found.tsx
Due: prettier --write

fix(frontend): カスタム404ページを追加する #196 (#212)
  frontend/src/app/not-found.tsx
Due: prettier --write

chore: remove tsconfig.tsbuildinfo from tracking Issue: #160
  .claude/skills/financial-planning/SKILL.md
  .gitignore
  .takt/.gitignore
  frontend/tsconfig.tsbuildinfo
Due: prettier --write

Path conditions:
  gofmt -w: any of: backend/**/*.go
  go vet: any of: backend/**/*.go
  prettier --write: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: e2e/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,yml,yaml})
