Repository zakisanbaiman/financial-planning-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, go vet, prettier --write

fix: update financial data response structure and handle retrieval errors
  backend/infrastructure/web/controllers/financial_data_controller.go
Due: gofmt -w, go vet

fix: handle missing financial data by creating a new financial plan and returning the latest data
  backend/infrastructure/web/controllers/financial_data_controller.go
Due: gofmt -w, go vet

fix: convert financial profile, retirement data, and emergency fund to primitive types in response
  backend/application/usecases/manage_financial_data_usecase.go
Due: gofmt -w, go vet

fix: update financial profile response structure to include financial data
  backend/infrastructure/web/api_integration_test.go
Due: gofmt -w, go vet

fix: update mock behavior for GetFinancialPlan to handle missing data and avoid unexpected calls
  backend/infrastructure/web/api_integration_test.go
Due: gofmt -w, go vet

fix: optimize E2E tests for CI by reducing timeout and limiting test execution to health checks
  .github/workflows/e2e-tests.yml
  e2e/playwright.config.ts
  e2e/tests/health-check.spec.ts
Due: prettier --write

feat: add asset projection chart to dashboard with sample data
  frontend/src/app/dashboard/page.tsx
Due: prettier --write

feat: add CurrencyInput component and integrate it into FinancialInputForm and GoalForm
  frontend/src/components/CurrencyInput.tsx
  frontend/src/components/FinancialInputForm.tsx
  frontend/src/components/GoalForm.tsx
Due: prettier --write

feat: フロントエンドのテストカバレッジ向上
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/components/__tests__/InputField.test.tsx
  frontend/src/lib/contexts/__tests__/FinancialDataContext.test.tsx
  frontend/src/lib/hooks/__tests__/useUser.test.ts
Due: prettier --write

feat: ユースケースにロギング機能を追加し、リクエストIDをコンテキストに含める
  backend/application/usecases/calculate_projection_usecase.go
  backend/application/usecases/manage_financial_data_usecase.go
  backend/infrastructure/log/logger.go
  backend/infrastructure/web/controllers/calculations_controller.go
  backend/infrastructure/web/controllers/common.go
  backend/infrastructure/web/controllers/financial_data_controller.go
  backend/infrastructure/web/middleware.go
Due: gofmt -w, go vet

refactor: code structure for improved readability and maintainability
  frontend/src/lib/contexts/__tests__/FinancialDataContext.test.tsx
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Due: prettier --write

fix: 設定値のハードコーディングの排除
  backend/.env.example
  backend/config/server.go
  backend/infrastructure/storage/temporary_file_storage.go
  backend/infrastructure/storage/temporary_file_storage_test.go
  backend/infrastructure/web/middleware.go
  backend/main.go
Due: gofmt -w, go vet

fix: run go mod tidy
  backend/go.mod
Due: none

fix: use databases section instead of pserv for PostgreSQL
  render.yaml
Due: prettier --write

feat: add Claude Code agent skills
  .claude/skills/financial-planning/SKILL.md
  .claude/skills/git-workflow/SKILL.md
Due: prettier --write

fix(render): remove preview environment settings for Hobby plan
  render.yaml
Due: prettier --write

feat: integrate financial data into dashboard and update asset projection logic
  TASKS.md
  frontend/src/app/dashboard/page.tsx
Due: prettier --write

feat: JWT認証の基盤実装（Domain/Application層）
  backend/application/usecases/auth_usecase.go
  backend/config/server.go
  backend/domain/entities/user.go
  backend/domain/repositories/user_repository.go
  backend/infrastructure/database/migrations/002_add_password_hash_to_users.sql
  backend/infrastructure/database/migrations/002_add_password_hash_to_users_down.sql
  backend/infrastructure/repositories/postgresql_user_repository.go
Due: gofmt -w, go vet

feat: JWT認証のInfrastructure層実装
  backend/infrastructure/repositories/repository_factory.go
  backend/infrastructure/web/auth_middleware.go
  backend/infrastructure/web/controllers/auth_controller.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  backend/main.go
Due: gofmt -w, go vet

feat: 環境変数設定とJWT認証の動作確認完了
  .github/copilot-instructions.md
  backend/.env.example
  backend/domain/entities/financial_profile.go
  backend/go.mod
  backend/go.sum
  docker-compose.yml
  frontend/public/.gitkeep
  render.yaml
Due: gofmt -w, go vet, prettier --write

feat: 保護対象ルートにJWT認証ミドルウェアを適用
  backend/infrastructure/web/api_integration_test.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/routes_test.go
  backend/infrastructure/web/server.go
Due: gofmt -w, go vet

feat: フロントエンドJWT認証実装
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/AppProviders.tsx
  frontend/src/lib/contexts/AuthContext.tsx
  frontend/src/lib/hooks/useUser.ts
Due: prettier --write

feat: リフレッシュトークンによる自動トークン更新機能
  .github/prompts/plan-basicAuthentication.prompt.md
  backend/application/usecases/auth_usecase.go
  backend/config/server.go
  backend/domain/entities/refresh_token.go
  backend/domain/repositories/refresh_token_repository.go
  backend/infrastructure/database/migrations/003_create_refresh_tokens_table.sql
  backend/infrastructure/database/migrations/003_create_refresh_tokens_table_down.sql
  backend/infrastructure/repositories/postgresql_refresh_token_repository.go
  backend/infrastructure/repositories/repository_factory.go
  backend/infrastructure/web/controllers/auth_controller.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  backend/main.go
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/AuthContext.tsx
Due: gofmt -w, go vet, prettier --write

feat: GitHub OAuthソーシャルログイン機能を追加
  backend/.env.example
  backend/application/usecases/auth_usecase.go
  backend/config/server.go
  backend/domain/entities/user.go
  backend/domain/repositories/user_repository.go
  backend/go.mod
  backend/go.sum
  backend/infrastructure/database/migrations/004_add_oauth_fields.sql
  backend/infrastructure/database/migrations/004_add_oauth_fields_down.sql
  backend/infrastructure/repositories/postgresql_user_repository.go
  backend/infrastructure/web/controllers/auth_github_oauth.go
  backend/infrastructure/web/oauth_middleware.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  backend/main.go
  docker-compose.yml
  frontend/src/app/auth/callback/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/lib/contexts/AuthContext.tsx
Due: gofmt -w, go vet, prettier --write

Update backend/infrastructure/web/controllers/auth_github_oauth.go
  backend/infrastructure/web/controllers/auth_github_oauth.go
Due: gofmt -w, go vet

Update backend/config/server.go
  backend/config/server.go
Due: gofmt -w, go vet

Update docker-compose.yml
  docker-compose.yml
Due: prettier --write

fix: OAuth後の認証状態がヘッダーに反映されない問題を修正
  frontend/src/app/auth/callback/page.tsx
Due: prettier --write

feat: 2段階認証（TOTP）機能を実装
  .github/copilot-instructions.md
  PLAN_2FA.md
  backend/application/usecases/auth_usecase.go
  backend/domain/entities/user.go
  backend/go.mod
  backend/go.sum
  backend/infrastructure/database/migrations/006_add_two_factor_auth.sql
  backend/infrastructure/database/migrations/006_add_two_factor_auth_down.sql
  backend/infrastructure/repositories/postgresql_user_repository.go
  backend/infrastructure/web/controllers/two_factor_controller.go
  backend/infrastructure/web/routes.go
  backend/infrastructure/web/server.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auth/2fa-verify/page.tsx
  frontend/src/app/settings/security/page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/AuthContext.tsx
  frontend/src/types/api.ts
Due: gofmt -w, go vet, prettier --write

Update frontend/src/app/auth/2fa-verify/page.tsx
  frontend/src/app/auth/2fa-verify/page.tsx
Due: prettier --write

Update backend/infrastructure/database/migrations/006_add_two_factor_auth.sql
  backend/infrastructure/database/migrations/006_add_two_factor_auth.sql
Due: none

docs: コードレビューおよび共通設定に関する指示を追加
  .github/copilot-instructions.md
Due: prettier --write

fix: 2FA認証のCookieベース認証を修正
  backend/infrastructure/web/auth_middleware.go
  backend/infrastructure/web/controllers/auth_controller.go
  backend/infrastructure/web/controllers/two_factor_controller.go
  backend/infrastructure/web/server.go
  frontend/src/app/auth/2fa-verify/page.tsx
  frontend/src/lib/contexts/AuthContext.tsx
Due: gofmt -w, go vet, prettier --write

fix: skip suspended services in Render deployment check
  scripts/check-render-deployments.js
Due: none

Modernize design with FinPlan branding and global naming (#113)
  README.md
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.tsbuildinfo
Due: prettier --write

Add architecture documentation with ER, class, system diagrams, and technology decisions (#114)
  README.md
  docs/architecture/CLASS_DIAGRAM.md
  docs/architecture/ER_DIAGRAM.md
  docs/architecture/README.md
  docs/architecture/SYSTEM_ARCHITECTURE.md
  docs/architecture/TECHNOLOGY_DECISIONS.md
Due: prettier --write

fix: 画面遷移時の白飛びを修正 - テーマ初期化スクリプトをheadに注入し、SSR時点でダークモード設定を適用
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/lib/contexts/ThemeContext.tsx
Due: prettier --write

fix(goals): ゲストモード時のGoals ログイン画面バグを修正
  backend/infrastructure/web/routes.go
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/GoalsContext.tsx
Due: gofmt -w, go vet, prettier --write

Fix/guest mode goals login (#117)
  backend/infrastructure/web/routes.go
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/contexts/GoalsContext.tsx
  frontend/src/lib/contexts/ThemeContext.tsx
Due: gofmt -w, go vet, prettier --write

Path conditions:
  gofmt -w: any of: backend/**/*.go
  go vet: any of: backend/**/*.go
  prettier --write: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: e2e/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,yml,yaml})
